@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.menu a{
    /*background-color: #FF6D6D;*/
    color: white;
    text-decoration: none;

}

.menu .newsbtn{
    position: absolute;
    border: none;
    width: 161px;
    height: 74px;
    background-color: #FF6D6D;
    left: -8px;
    top: -22px;
    z-index: -1;

}

.menu .dropdown{
    position: relative;
    display: inline-block;
}

.menu .dropdown-content{
    right: 0px;
    top: 74px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 161px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu .dropdown-content a:hover{
    background-color: #5E9AF3;
}

.menu .dropdown:hover .dropdown-content{
    display: block;
}

.menu .dropdown:hover .newsbtn{
    background-color: #5E9AF3;
}


.menu .dropdown .dropdown-content .newslogodrop{
    height: 45px;
    width: auto;
}

.menu .religioustxt{
    /* Religious */


    position: absolute;
    width: 99px;
    height: 27px;
    left: 191px;
    top: 11px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #F5F5F5;
    
}

.menu .locationtxt{
    /* Locations */


    position: absolute;
    width: 106px;
    height: 27px;
    left: 191px;
    top: 36px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #F5F5F5;
}

.menu .weathertxt{
    position: absolute;
    width: 93px;
    height: 27px;
    left: 384px;
    top: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #F5F5F5;
}

.menu .supgrouptxt{
    position: absolute;
    width: 183.47px;
    height: 27px;
    left: 593.27px;
    top: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #F5F5F5;
}

.menu .ethfoodplacetxt{
    position: absolute;
    width: 237.03px;
    height: 27px;
    left: 806.49px;
    top: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #F5F5F5;
}

.menu .religlocbox{
    position: absolute;
    width: 199px;
    height: 74px;
    background-color: #FF6D6D;
    left: 162px;
    top: 0px;
    z-index: -1;
}

.menu .weatherbox{
    position: absolute;
    width: 210px;
    height: 74px;
    background-color: #FF6D6D;
    left: 362px;
    top: 0px;
    z-index: -1;
}

.menu .supgroupbox{
    position: absolute;
    width: 224px;
    height: 74px;
    background-color: #FF6D6D;
    left: 573px;
    top: 0px;
    z-index: -1;    
}

.menu .ethfoodplacebox{
    position: absolute;
    width: 247px;
    height: 74px;
    background-color: #FF6D6D;
    left: 798px;
    top: 0px;
    z-index: -1;      
}
.menu .newslogo{
    position: absolute;
    width: 57px;
    height: auto;
    top: 13px;
    left: 52px;

}

.menu .religloclogo1{
    position: absolute;
    width: 23px;
    height: 20px;
    top: 16px;
    left: 318px;
}

.menu .religloclogo2{
    position: absolute;
    width: 16px;
    height: 22px;
    top: 41px;
    left: 320px;
}

.menu .weatherlogo{
    position: absolute;
    width: 61px;
    height: 52px;
    left: 489px;
    top: 11px;
}